<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

<div id="app">
    <form @submit.prevent="insertUser">
        <label>Name <input type="text" placeholder="Name" required v-model="name"></label>
        <label>Email <input type="email" placeholder="Email" required v-model="email"></label>
        <label>Password <input type="password" placeholder="Password" required v-model="password"></label>
        <button>Sign Up</button>
    </form>  
</div>

<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                name:'',
                email:'',
                password:''
            }
        },
        methods: {
            insertUser() {
                axios
                    .post('http://localhost:7777/api/bookUser', {
                        userName: this.name,
                        userEmail: this.email,
                        userPass: this.password
                    })
                    .then(response => {
                        alert('회원가입 완료');
                        location.href="login.html";
                    })
                    .catch(error => {
                        alert(error.response.data.error);
                    })
            }
        }
    })
</script>
</body>
</html>